@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", "Sans serif"
}

@layer base{
    body{
        @apply tracking-wide bg-secondColor
    }
}
@layer utilities {
    .d-flex {
      @apply flex justify-center items-center;
    }
}
@layer utilities {
  /* nav.scrolled {
    @apply bg-secondColor w-full fixed top-0;
  } */
}